
body {

    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #f2f2f2;
}

main{
    min-height: 100vh;
}

header {
    image-rendering: b;
    background-image: url("../tareas/fondo1.jpg");
    background-size: cover;
    background-position: center;
    color: rgb(0, 0, 0);
    padding: 50px;
    text-align: center;

}

header img{
    height: 220px;
    border-radius: 50%;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
    justify-content: space-around;
    padding: 10px;
    margin: 0;
    background: #ddd;
}

nav ul li a {
    text-decoration: none;
    font-weight: bold;
    color: black;
}

nav ul li a.active {
    color: blue;
}

section {
    background: white;
    width: 80%;
    margin: 20px auto;
    padding: 20px;
    border-radius: 10px;
}

ul li {
    margin-bottom: 5px;
}

footer {
    background: #1f1f1f;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
}

.btn {
    background: #0066ff;
    padding: 10px 15px;
    color: white;
    border-radius: 6px;
    text-decoration: none;
}
